In [1]:
pip install requests

Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2019.6.16)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4) (1.9.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.3.4)
Note: you may need to restart the kernel to use updated packages.

In [25]:
import requests
import bs4
import lxml
import pandas as pd

In [27]:
res = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [28]:
type(res)

requests.models.Response

In [36]:
soup = bs4.BeautifulSoup(res.text, 'lxml')

In [37]:
type(soup)

bs4.BeautifulSoup

In [38]:
table = soup.find('table')

In [46]:
l = []
table_rows = table.find_all('tr')
for tr in table_rows:
    td = tr.find_all('td')
    row = [i.text for i in td]
    l.append(row)

df = pd.DataFrame(l, columns=["Postcode", "Borough", "Neighbourhood"])

In [47]:
df.head()

  Postcode       Borough       Neighbourhood
0     None          None                None
1      M1A  Not assigned      Not assigned\n
2      M2A  Not assigned      Not assigned\n
3      M3A    North York         Parkwoods\n
4      M4A    North York  Victoria Village\n

In [58]:
DF = df[df.Borough != 'Not assigned']

In [75]:
char = DF.replace('\n', '', regex = True )
char.head()

  Postcode           Borough     Neighbourhood
0     None              None              None
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M5A  Downtown Toronto       Regent Park

In [81]:
CHAR = char.groupby(['Postcode','Borough'])['Neighbourhood'].apply(lambda x: ','.join(x.astype(str))).reset_index()
CHAR = CHAR.replace('Not assigned', CHAR['Borough'], regex = True )

In [83]:
CHAR.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [85]:
CHAR.shape

(103, 3)